{
  "presets": [
    "@babel/preset-env",

    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "targets": {
    "chrome": "49",
    "ios": "10"
  }
}
